*{
    padding: 0;
    margin: 0;
  }
  header{
    background-color: aqua;
    display: block;
    border: 2px solid black;
    width: 400%;
    padding: 10px;
    
  }
  main{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  section{
    float: left;
  /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
    width: 42vw;
    padding: 40px;
  }
  
  aside{
    float:right;
   /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
    padding: 20px;
    width: 17vw;
    border: 1px solid black;
  }
  
  article{
    margin: 10px 0;
  }