.longe-bordas{
    background-color: #FFA6A9;
    display: block;
    margin: 15px;        
  }
  
  .afastado{
    background-color: #77C0ED;
    margin: 100px;
    
  }
  .alto{
    background-color: #C3E887;
    height: 300px;
  }
  
  .largo{
  background-color: #FFE396;
  width: 500px;
  }
  
  .bordado{
    background-color: #AF9BCC;
    border: 2px dashed black;
    display: block;
    width: 400px;
    padding: 10px; 
    
    
  }
  
  .sumido{
    display: none;
   
  }