*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: blue;
}
#titulo-importante, h3, h4{
    color: aliceblue;
}
h2{
    background-color: yellow;   
}
section{
    background-color: green;
}
footer{
    background-color: black;
}
    
